section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  margin: 0 auto;

  p:first-child {
    color: #ff0000;
  }

  p:nth-child(2) {
    color: #00ff22;
  }

  p:nth-child(3) {
    color: #ae00ff;
  }

  p:nth-child(odd) {
    color: #00ff22;
  }

  p:nth-child(even) {
    color: #ff0000;
  }

  p:nth-child(2n + 1) {
    color: #ae00ff;
  }

  p:nth-child(3n) {
    color: #ffbb00;
  }

  p:nth-child(n + 3) {
    color: #00fff2;
  }

  p:last-child {
    color: #d9ff00;
  }
}
